@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap");
/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

html, body {
  height: 100%;
  font-family: 'Jura', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 90;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo span {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F7D2FF;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0 0 0 20px;
}

.header__link {
  color: #F09FFF;
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 769px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::before {
    content: "";
    background-color: #F7D2FF;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 50vh;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__burger::after {
    content: "";
    background-color: #F7D2FF;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 50vh;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 70px 0px 20px 0px;
    overflow: auto;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
    text-align: center;
  }
  .header__link {
    font-size: 20px;
    font-weight: 500;
  }
}

.content {
  height: 80vh;
  padding-top: 100px;
  background-color: #121314;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: 15% 30%;
  background-size: 60%;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(18, 19, 20, 0.5);
          box-shadow: 0px 5px 10px 2px rgba(18, 19, 20, 0.5);
}

.content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 80px 0 100px 0;
}

.content__text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  color: #F7D2FF;
  max-width: 300px;
  margin-bottom: 60px;
}

.content__text p {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  max-width: 370px;
  padding: 10px 5px;
  background: #F09FFF;
}

.content__info {
  padding: 30px 0;
}

.content__list {
  float: right;
  text-align: center;
  margin-right: 10px;
}

.content__list li {
  margin-bottom: 20px;
}

.content__link {
  font-size: 22px;
  font-weight: 500;
  color: #F7D2FF;
}

@media (max-width: 769px) {
  .content {
    padding: 70px 0 0 0;
    position: relative;
    background-size: 70%;
    background-position: -5% 40%;
  }
  .content__info {
    position: absolute;
    padding-bottom: 0;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  .content__list {
    float: none;
    margin: 0;
  }
  .content__list li {
    margin-bottom: 10px;
  }
  .blur {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

@media (max-width: 426px) {
  .content {
    background-size: 120%;
    background-position: -15px center;
  }
  .content__info {
    position: absolute;
    padding-bottom: 0;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  .content__list {
    float: none;
    margin: 0;
  }
  .content__list li {
    margin-bottom: 10px;
  }
  .content__link {
    display: inline-block;
    font-size: 18px;
    padding: 15px 10px;
    border: 2px solid #F7D2FF;
    border-radius: 15px;
    -webkit-box-shadow: inset 0px 0px 15px rgba(240, 159, 255, 0.35);
            box-shadow: inset 0px 0px 15px rgba(240, 159, 255, 0.35);
  }
}

.about {
  padding: 30px 0;
  -webkit-box-shadow: inset 0px 5px 15px 2px rgba(18, 19, 20, 0.5);
          box-shadow: inset 0px 5px 15px 2px rgba(18, 19, 20, 0.5);
}

.about__title {
  margin: 0 0 30px 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #121314;
}

.card__img {
  height: 400px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  border-radius: 5%;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card__img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
}

.card__img img {
  width: 100%;
}

.info_description {
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 10px;
}

.info_description span {
  font-weight: 500;
}

.info__title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}

@media (max-width: 769px) {
  .info__title {
    font-size: 20px;
  }
  .info_description {
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  .about__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .about__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 15px 0 0;
  }
  .info__contetn {
    padding: 0 10px;
  }
}

@media (max-width: 426px) {
  .about {
    padding: 20px 0;
  }
  .about__title {
    margin: 0 0 20px 0;
  }
  .about__info {
    padding: 20px 0 0;
  }
}
