@media (max-width:769px){
   body.lock{
      overflow: hidden;
   }
   .header{
      &__body{
         height: 50px;
      }
      &__burger{
         display: block;
         position: relative;
         width: 30px;
         height: 20px;
         position: relative;
         z-index: 3;
         &::before{
            content: "";
            background-color: #F7D2FF;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            border-radius: 50vh;
            transition: all 0.3s linear;
         }
         // & span{
         //    position: absolute;
         //    background-color: #fff;
         //    width: 100%;
         //    height: 3px;
         //    left: 0;
         //    top: 9px;
         //    transition: all 0.3s linear;
         // }
         &::after{
            content: "";
            background-color: #F7D2FF;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            border-radius: 50vh;
            transition: all 0.3s linear;
         }
         &::before{
            top: 0;
         }
         &::after{
            bottom: 0;
         }
      }
      &__burger.active::before{
         transform: rotate(45deg);
         top: 9px;
      }
      &__burger.active span{
         transform: scale(0);
      }
      &__burger.active::after{
         transform: rotate(-45deg);
         bottom: 9px;
      }
      &__menu{
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         // height: 70%;
         background: rgba($color: #000000, $alpha: 0.8);
         padding: 70px 0px 20px 0px;
         overflow: auto;
         transition: all 0.5s linear;
         &.active{
            top: 0;
         }
      }
      &__list{
         display: block;
         & li{
            margin: 0 0 20px 0;
            text-align: center;
         }
      }
      &__link{
         font-size: 20px;
         font-weight: 500;
      }
   }
}