@media (max-width:769px){
   .content{
      padding: 70px 0 0 0;
      position: relative;
      background-size: 70%;
      background-position: -5% 40%;
      // &__info{
      //    position: absolute;
      //    padding-bottom: 0;
      //    bottom: 20px;
      //    right: 0;
      // }
      // &__list{
      //    margin-right: 20px;
      // }
      &__info{
         position: absolute;
         padding-bottom: 0;
         bottom: 20px;
         left: 0;
         right: 0;
      }
      &__list{
         float: none;
         margin: 0;
         & li{
            margin-bottom: 10px;
         }
      }
   }
   .blur{
      filter: blur(2px);
   }
}

@media (max-width:426px){
   .content{
         background-size: 120%;
         background-position: -15px center;
   //    &__text{
   //       align-items: center;
   //       padding: 10px 0 0 0;
   //       & h1{
   //          font-size: 50px;
   //          text-align: center;
   //          margin-bottom: 280px;
   //       }
   //       & p{
   //          position: absolute;
   //          bottom: 160px;
   //          font-size: 25px;
   //          max-width: 300px;
   //       }
   //    }
      &__info{
         position: absolute;
         padding-bottom: 0;
         bottom: 20px;
         left: 0;
         right: 0;
      }
      &__list{
         float: none;
         margin: 0;
         & li{
            margin-bottom: 10px;
         }
      }
      &__link{
         display: inline-block;
         font-size: 18px;
         padding: 15px 10px;
         border: 2px solid #F7D2FF;
         border-radius: 15px;
         box-shadow: inset 0px 0px 15px rgba(240, 159, 255, 0.35);
      }
   }
}

@media (max-width:376px){
   // .content{
   //    background-size: 140%;
   //    background-position: -50px center;
   // }
}