.content {
   height: 80vh;
   padding-top: 100px;
   background-color: #121314;
   background-image: url(../img/bg.png);
   background-repeat: no-repeat;
   background-position:15% 30% ;
   background-size: 60%;
   box-shadow: 0px 5px 10px 2px rgba(18, 19, 20, 0.5);
   & .container{
      
   }
   &__text{
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 80px 0 100px 0;
      & h1{
         font-family: 'Montserrat', sans-serif;
         font-size: 60px;
         font-weight: 700;
         text-transform: uppercase;
         text-align: right;
         color: #F7D2FF;
         max-width: 300px;
         margin-bottom: 60px;
      }
      & p{
         font-size: 35px;
         font-weight: 700;
         text-transform: uppercase;
         text-align: center;
         max-width: 370px;
         padding: 10px 5px;
         background: #F09FFF;
      }
   }
   &__info{
      padding: 30px 0;
   }
   &__list{
      float: right;
      text-align: center;
      margin-right: 10px;
      & li{
         margin-bottom: 20px;
      }
   }
   &__link{
      font-size: 22px;
      font-weight: 500;
      color: #F7D2FF;
   }
}

